name: End-to-End Tests

on:
  push:
    branches: main
  pull_request:
    branches: main

jobs:
  e2e-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal
          override: true
      - name: Install bats
        run: |
          sudo apt-get update
          sudo apt-get install -y bats
      - name: Install bats-helpers
        run: bash .devcontainer/install-bats-helpers.sh
      - name: Build project
        run: cargo build --release
      - name: Run end-to-end tests
        run: bats tests/end2end-docker.bats
